@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: #eb1c24;
  padding: 10px;
  height: 7vh;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

#avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid white;
}
